
.newPlayerbutton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;    
  }
.greenButton{background-color: #51e443;}
.blueButton{background-color: #0a83d4;}
.gameModeButtons{background-color: #e6cf00;}
.newPlayerSubmitButton{background-color: #e6cf00;}